<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addonis</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/addonis1.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" href="/css/nice-select.css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" href="/css/slicknav.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<header th:insert="index.html :: header"></header>

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div style="width: 1200px" class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">IDE</h4>
                    <div class="fw-brand-check">

                        <div class="bc-item">
                                <input type="radio" name="ide" id="eclipse">
                            <label for="eclipse">Eclipse</label>
                        </div>

                        <div class="bc-item">
                                <input type="radio" name="ide" id="intellij">
                            <label for="intellij">IntelliJ</label>
                        </div>

                    </div>
                </div>
                <div class="filter-widget">
                    <a href="#" class="filter-btn">Filter</a>
                </div>

                <div class="filter-widget">
                    <h4 class="fw-title">Tags</h4>
                    <div class="fw-tags" th:each="tag : ${tags}">
                        <a href="#" th:text="${tag.tagName}">Tag</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-101 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <form th:action="@{'/addons'}" method="get">
                            <div class="select-option">
                                <select id="select-sort" name="sort" class="sorting" style="width: 200px;">
                                    <option selected value="name">Name</option>
                                    <option value="downloadsCount">Downloads</option>
                                    <option value="id">Uploaded</option>
                                    <option value="date">Last Commit Date</option>
                                </select>
                                <select id="select-order" name="order" class="sorting">
                                    <option value="ASC">Ascending</option>
                                    <option value="DESC">Descending</option>
                                </select>
                                <input type="submit" class="site-btn login-btn" value="Sort">
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="row">
                        <div class="col-lg-41 col-sm-6" th:each="addon : ${addons}">
                            <div class="product-item">
                                <form th:action="@{'/addons/details/' + ${addon.name}}">
                                    <div class="pi-pic">
                                        <img class="imageAddon" th:href="@{'/addon/' + ${addon.name} + '/image'}"
                                             th:src="@{'/addon/' + ${addon.name} + '/image'}" alt=""
                                             height="250" width="263" style="background-size: contain; padding:45px">
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name" th:text="${addon.name}">
                                        </div>
                                        <a href="#">
                                            <h5><a th:text="${addon.name.length() > 20 ? addon.name.substring(0,20) : addon.name}"></a></h5>
                                        </a>
                                        <button type="submit" class="site-btn login-btn">VIEW</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->

<footer th:insert="index.html :: footer"></footer>

<script>
    selectElement('select-sort', "[[${selsort}]]");
    selectElement('select-order', "[[${ordersort}]]");
    console.log("select " + [[${selsort}]]);
    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }
</script>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/jquery.dd.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/pin-header.js"></script>
</body>

</html>