<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My profile</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/addonis1.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" href="/css/nice-select.css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" href="/css/slicknav.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<header th:insert="index.html :: header"></header>


<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details-inner">
                    <div class="blog-detail-title">
                        <h2  th:text="'Here is  ' + ${oldAddon.name} + 'information'">information</h2>
                        <p>ADDONIS<span></span></p>
                    </div>
                    <div class="splitLeft">
                        <div class="blog-large-pic">
                            <img id="profileImage" th:href="@{'/addon/' + ${oldAddon.name} + '/image'}"
                                 th:src="@{'/addon/' + ${oldAddon.name} + '/image'}" alt=""
                                 height="300" width="300" align="left" hspace="80">
                        </div>
                        <div class="cell">
                            <a id="profileName">Addon name:</a>
                            <a id="profileName1" th:text="${oldAddon.name}"></a>
                        </div>
                        <div class="group-input">
                            <label for="emailnew">New name: </label>
                            <input th:field="${newAddon.name}" type="text" id="emailnew">
                        </div>
                        <div class="cell">
                            <a id="firstname">Current description:</a>
                            <a th:if="${oldAddon.description == null}">Not given</a>
                            <a th:unless="${oldAddon.description == null}" th:text="${oldAddon.description}"></a>
                        </div>
                        <div class="group-input">
                            <label for="newfirtname">Change description: </label>
                            <input th:field="${newAddon.description}" type="text" id="newfirtname">
                        </div>
                        </br>
                        <div>
                            <label for="newimage">Change addon image</label>
                            <input id="newimage" name="imagefile" type="file" class="file" value="Upload File">
                        </div>
                        </br>
                        <div>
                            <label for="binaryFile">Change addon content</label>
                            <input id="binaryFile" name="binaryFile" type="file" class="file" value="Upload File">
                        </div>
                        <button type="submit" class="site-btn login-btn">EDIT</button>
                    </form>
                    <form sec:authorize="isAuthenticated()" th:object="${addonTagDto}"
                          th:action="@{/addon/tag}" th:method="post">
                        <input type="hidden" th:value="${#authentication.name}" th:name="userName">
                        <input type="text" name="tagName" placeholder="Tag name" th:name="tagName">
                        <input type="hidden" th:value="${oldAddon.id}" th:name="addonId">
                        <input type="submit" class="site-btn login-btn" value ="Add Tag">
                    </form>
                    <p>
                        <i th:if="${error != null}" th:text="${error}" class="error"/>
                    </p>
                    <div class="tag-share">
                        <div class="details-tag">
                            <ul>
                                <li><i class="fa fa-tags"></i></li>
                                <li>Travel</li>
                                <li>Beauty</li>
                                <li>Fashion</li>
                            </ul>
                        </div>
                    </div>
                    <div class="splitRight">
                        <form th:action="@{'/addon/edit/' + ${oldAddon.name}}" th:object="${newAddon}" enctype="multipart/form-data" th:method="put">
                            <div class="cell">
                                <a id="profileName">Addon name:</a>
                                <a id="profileName1" th:text="${oldAddon.name}"></a>
                            </div>
                            <div class="group-input">
                                <label for="emailnew">New name: </label>
                                <input th:field="${newAddon.name}" type="text" id="emailnew">
                            </div>
                            <div class="cell">
                                <a id="firstname">Current description:</a>
                                <a th:if="${oldAddon.description == null}">Not given</a>
                                <a th:unless="${oldAddon.description == null}" th:text="${oldAddon.description}"></a>
                            </div>
                            <div class="group-input">
                                <a id="newfirtnameEditAddon">Current description:</a>
<!--                                <label for="newfirtname">Change description: </label>-->
                                <input th:field="${newAddon.description}" type="text" id="newfirtname1">
                            </div>
                            </br>
                            <div>
                                <a id="newimage1">Change addon image</a>
                                </br>
                                <input id="newimage" name="imagefile" type="file" class="file" value="Upload File">
                            </div>
                            </br>
                            <div>
                                <label for="binaryFile">Change addon content</label>
                                </br>
                                <input id="binaryFile" name="binaryFile" type="file" class="file" value="Upload File">
                            </div>
                            <br>
                            <button type="submit" class="site-btn login-btn" style="float: left">EDIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->

<footer th:insert="index.html :: footer"></footer>

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/jquery.dd.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/pin-header.js"></script>
</body>

</html>